# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = douban_info.settings

[deploy:DoubanSpider]
url = http://192.168.33.63:6900/
project = douban_info
